<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>{{_('Edit your post') }}</h1>
{% include 'flash.html' %}
<div class="well">
    <form class="form-horizontal" action="" method="post" name="edit">
        {{form.hidden_tag()}}
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="post">{{ _('Your Post:') }}</label>
            <div class="controls">
                {{ form.post(size = 30, maxlength = 140) }}
                {% for error in form.errors.post %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="{{ _('Edit Post!') }}">
            </div>
        </div>
    </form>
{% endblock %}
