<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<div class="well">
    <form class="form-horizontal" action="" method="post" name="post">
        {{form.hidden_tag()}}
        <div class="control-group{% if form.errors.group_name %} error{% endif %}">
            <label class="control-label" for="group_name">{{ _('Group name:')}}</label>
            <div class="controls">
                {{ form.group_name(size = 30, class = "span4") }}
                {% for error in form.errors.group_name %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.about_group %} error{% endif %}">
            <label class="control-label" for="post">{{ _('About your group:') }}</label>
            <div class="controls">
                {{ form.about_group(cols = 64, rows = 4, class = "span4") }}
                {% for error in form.errors.about_group %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox" for="public">
                    {{ form.public }} {{ _('Make group public?') }}
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="{{ _('Create Group!') }}">
            </div>
        </div>
    </form>
</div>
{% endblock %}

