<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% if g.user.is_authenticated() %}
    <h4>{{ _('Hi, %(nickname)s!', nickname = g.user.nickname) }}</h4>
{% else %}
    <h4>{{ _('Welcome to PrayerFirst!') }}</h4>
{% endif %}
{% include 'flash.html' %}
<div class="custom-well">
    <p class="no-margin">{{ _('Start praying for the list below or ') }}<a href="{{ url_for('post_prayer') }}">{{ _('post your own!') }}</a></p>
    <p id="votd"></p>
</div>
{% include 'list_posts.html' %}
{% endblock %}
